---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout>
    <section class="mineInfo">
<h1>About Me</h1>
    <p>
      Hi! My name is <strong>Julio Santos</strong>, a 23-year-old aspiring front-end developer from Mexico. I’m passionate about creating visually appealing and user-friendly web experiences. As a beginner in the tech world, I’m eager to learn and grow, with the ultimate goal of becoming a front-end developer.
    </p>
    <p>
      When I’m not coding, you’ll find me enjoying my hobbies: traveling to new places, listening to music, playing video games, and indulging in delicious sushi. I believe that these interests not only bring balance to my life but also inspire creativity in what I´m doing.
    </p>
    <p>
      I’m excited to embark on this journey in the world of technology and share my projects and ideas along the way. Feel free to explore my website and connect with me. Together, let’s create something amazing!
    </p>
</section>

<style>
	.mineInfo  {
		justify-content: center;
		text-align: center;
	}

    .mineInfo {
		margin-left: 2px;
	}

</style>
</Layout>
